# {{ ansible_managed }}

{% if cis_rhel8_4_1_3 %}
# CIS 4.1.3
-w /etc/sudoers -p wa -k scope
-w /etc/sudoers.d/ -p wa -k scope
{% endif %}

{% if cis_rhel8_4_1_4 %}
# CIS 4.1.4
-w /var/log/faillog -p wa -k logins
-w /var/log/lastlog -p wa -k logins
{% endif %}

{% if cis_rhel8_4_1_5 %}
# CIS 4.1.5
-w /var/run/utmp -p wa -k session
-w /var/log/wtmp -p wa -k logins
-w /var/log/btmp -p wa -k logins
{% endif %}

{% if cis_rhel8_4_1_6 %}
# CIS 4.1.6
-a always,exit -F arch=b64 -S adjtimex -S settimeofday -k time-change
-a always,exit -F arch=b32 -S adjtimex -S settimeofday -S stime -k time-change
-a always,exit -F arch=b64 -S clock_settime -k time-change
-a always,exit -F arch=b32 -S clock_settime -k time-change
-w /etc/localtime -p wa -k time-change
{% endif %}

{% if cis_rhel8_4_1_7 %}
# CIS 4.1.7
-w /etc/selinux/ -p wa -k MAC-policy
-w /usr/share/selinux/ -p wa -k MAC-policy
{% endif %}

{% if cis_rhel8_4_1_8 %}
# CIS 4.1.8
-a always,exit -F arch=b64 -S sethostname -S setdomainname -k system-locale
-a always,exit -F arch=b32 -S sethostname -S setdomainname -k system-locale
-w /etc/issue -p wa -k system-locale
-w /etc/issue.net -p wa -k system-locale
-w /etc/hosts -p wa -k system-locale
-w /etc/sysconfig/network -p wa -k system-locale
{% endif %}

{% if cis_rhel8_4_1_9 %}
# CIS 4.1.9
-a always,exit -F arch=b64 -S chmod -S fchmod -S fchmodat -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b32 -S chmod -S fchmod -S fchmodat -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b64 -S chown -S fchown -S fchownat -S lchown -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b32 -S chown -S fchown -S fchownat -S lchown -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b64 -S setxattr -S lsetxattr -S fsetxattr -S removexattr -S lremovexattr -S fremovexattr -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b32 -S setxattr -S lsetxattr -S fsetxattr -S removexattr -S lremovexattr -S fremovexattr -F auid>=1000 -F auid!=4294967295 -k perm_mod
{% endif %}

{% if cis_rhel8_4_1_10 %}
# CIS 4.1.10
-a always,exit -F arch=b64 -S creat -S open -S openat -S truncate -S ftruncate -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k access
-a always,exit -F arch=b32 -S creat -S open -S openat -S truncate -S ftruncate -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k access
-a always,exit -F arch=b64 -S creat -S open -S openat -S truncate -S ftruncate -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k access
-a always,exit -F arch=b32 -S creat -S open -S openat -S truncate -S ftruncate -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k access
{% endif %}

{% if cis_rhel8_4_1_11 %}
# CIS 4.1.11
-w /etc/group -p wa -k identity
-w /etc/passwd -p wa -k identity
-w /etc/gshadow -p wa -k identity
-w /etc/shadow -p wa -k identity
-w /etc/security/opasswd -p wa -k identity
{% endif %}

{% if cis_rhel8_4_1_12 %}
# CIS 4.1.12
-a always,exit -F arch=b64 -S mount -F auid>=1000 -F auid!=4294967295 -k mounts
-a always,exit -F arch=b32 -S mount -F auid>=1000 -F auid!=4294967295 -k mounts
{% endif %}

{% if cis_rhel8_4_1_13 %}
# CIS 4.1.13
{% for binary in priv_binaries.results[0].stdout_lines %}
-a always,exit -F path={{ binary }} -F perm=x -F auid>={{ cis_rhel8_min_uid }} -F auid!=4294967295 -k privileged
{% endfor %}
{% endif %}

{% if cis_rhel8_4_1_14 %}
# CIS 4.1.14
-a always,exit -F arch=b64 -S unlink -S unlinkat -S rename -S renameat -F auid>=1000 -F auid!=4294967295 -k delete
-a always,exit -F arch=b32 -S unlink -S unlinkat -S rename -S renameat -F auid>=1000 -F auid!=4294967295 -k delete
{% endif %}

{% if cis_rhel8_4_1_15 %}
# CIS 4.1.15
-w /sbin/insmod -p x -k modules
-w /sbin/rmmod -p x -k modules
-w /sbin/modprobe -p x -k modules
-a always,exit -F arch=b64 -S init_module -S delete_module -k modules
{% endif %}

{% if cis_rhel8_4_1_16 %}
# CIS 4.1.16
-w {{ cis_rhel8_sudo_logfile }} -p wa -k actions
{% endif %}


{% if cis_rhel8_4_1_17 %}
# CIS 4.1.17
-e 2
{% endif %}
